@model Cinema.Domain.Domain.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieImage)
        </dt>
        <dd class="col-sm-10">
            <img class="img-thumbnail" src="@Model.MovieImage" alt="Image for Ticket!" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
     }
     <a asp-action="Index">Back to List</a>
</div>
