@model Cinema.Domain.Domain.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 20px">Ticket's Details</h1>

<div class="container">
    <hr />

    <div class="row">
        <div class="col-6">
            <div class="card border-dark mb-3 text-black-50" style="max-width: 25rem;">
                <div class="card-header"><h3>@Html.DisplayFor(model => model.MovieTitle)</h3> </div>
                <div class="card-body text-dark">
                    
                    <p class="card-text">


                        <label class="col-sm-10">
                            <b>Description:</b> <br />
                            @Html.DisplayFor(model => model.MovieDescription)
                        </label>

                        <label class="col-sm-10">
                            <b>Price:</b> <br />
                            @Html.DisplayFor(model => model.TicketPrice) $
                        </label>

                        <label class="col-sm-10">
                            <b>Date:</b> <br />
                            @Html.DisplayFor(model => model.Date) 
                        </label>


                    </p>
                </div>
            </div>
           
        </div>
        <div class="col-6">
            <div style="width: 18rem; height: 30rem;">
                <img class="img-thumbnail" src="@Model.MovieImage" alt="Image for Ticket!" />
            </div>
        </div>
       
    </div>

</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
     }
     <a asp-action="Index">Back</a>
</div>
