@model List<Cinema.Domain.Domain.Ticket>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="container">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-2">
                <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new Ticket</a>
            </div>
            <div class="col-2">
                <a class="btn btn-outline-success" asp-controller="Tickets" asp-action="ExportAllTickets">Export Tickets</a>
            </div>
         }
            <div class="col-6">
                <form method="post">
                    <div class="form-group d-inline">
                        <input name="Date" type="date" class="form-control d-inline w-auto" />
                    </div>
                    <div class="form-group d-inline">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
    </div>
    
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-3k m-4">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="@item.MovieImage" style="height: 50%" alt="Image for Ticket!" />

                <div class="card-body">
                    <h3 class="card-title">@item.MovieTitle</h3>
                    <p class="card-text">@item.MovieDescription</p>
                    <h6>Price: @item.TicketPrice</h6>
                    <h6>Genre: @item.Genre</h6>
                    <h6>Date: @DateConvertor.DateString(item.Date)</h6>
                </div>

                <div class="card-footer">
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Tickets" asp-action="AddTicketToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary mt-1">Edit</a>
                        <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary mt-1">Delete</a>
                    }
                </div>
            </div>
        </div> 
        if (i % 3 == 2)
        {
            @:</div>
        }
}

</div>
