@using Microsoft.Extensions.Options
@inject IOptions<Cinema.Domain.StripeSettings> Stripe
@model Cinema.Domain.DTO.ShoppingCartDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="row m-4">
        @if (Model.TotalPrice != 0)
        {
            <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="Cinema Tickets Application Payment"
                            data-amount="@(Model.TotalPrice * 100)"
                            data-label="Pay $@Model.TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Ticket Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="color: white;">
                @if (Model.Tickets.Count == 0)
                {
                <tr>
                    <td colspan="5">No active Tickets</td>
                </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Tickets.Count; i++)
                    {
                        var item = Model.Tickets[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.Ticket.MovieTitle</td>
                            <td>@item.Quantity</td>
                            <td>$@item.Ticket.TicketPrice</td>
                            <td><a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@item.TicketId" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" /></svg></a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">Total Price:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>